.card {
  display: flex;
  flex-direction: column;
  width: 240px;
  height: 100%;
  margin: 10px;
  border-radius: 10px;
  cursor: pointer;

  position: relative;
  overflow: hidden;
}

.card-poster {
  width:240px;
  height: 360px;
}

.card-poster:hover {
  transform: scale(1.1);
  transition: all 0.5s ;
}

.card-info{
  width: 100%;
  height: auto;
  padding: 15px 10px;

  color: #fff;
  font-weight: 600;
  background-color : #2b2b2b; opacity : 0.8;
  border-radius: 0 0 10px 10px;

  position: absolute;
  bottom: 0px;
}

.card-title {
  text-align: start;
}

.card-vote_average {
  font-size: 0.8em;
  text-align: end;
}
