.header{
  width: 100%;
  height: 75px;
  display: flex;
  justify-content: center;
  background-color: #fff;
  opacity : 0.98;
  box-shadow: 0 1px 10px #a5a5a5;

  position: fixed;
  z-index: 10;
}
.nav{
  width: 80%;
  height: 75px;
  padding: 0 4%;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo{
  font-size: 2em;
  font-weight: 900;
  cursor: pointer;
}

.search{
  width: 30%;
  height: 40px;

  position: relative;
  display: flex;
  flex-grow: 1;
}
.search-dummy{
  width: 60%;
}
.search-bar{
  border-radius: 5px;
  flex: 1 0 auto;
  padding: 0 10px;
  border: none;
  background-color: #F6F6F6;
}

.search-icon{
  border: none;
  background-color: #F6F6F6;
  position: absolute;
  right: 10px;
  top: 8px;
  font-size: 23px;

  cursor: pointer;
}

.nav-btn{
  display: flex;
  align-items: center;
  margin-left: 10px;
}
.nav-btn button {
  height: 35px;
  padding: 3px 8px;
  margin: 5px;
  border: none;
  background-color: #fff;
  color: #a5a5a5;
  font-weight: 900;

  cursor: pointer;
}
.nav-btn button:hover{
  color: #2b2b2b;
}

/* 테블릿 가로 (해상도 768px ~ 1023px)*/ 
@media all and (min-width:768px) and (max-width:1023px) { 
  .nav{
    width: 100%;
  }
} 
/* 모바일 가로 & 테블릿 세로 (해상도 480px ~ 767px)*/ 
@media all and (min-width:480px) and (max-width:767px) {
  .nav{
    width: 100%;
    min-width: 480px;
  }
} 
/* 모바일 세로 (해상도 ~ 479px)*/ 
@media all and (max-width:479px) {
  .nav{
    width: 100%;
    min-width: 480px;
  }
}